<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="https://www.springframework.org/schema/beans"
       xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.springframework.org/schema/beans
                    classpath:schema/spring-beans.xsd">


    <bean id="alien" class="com.VikashLearning.Alien">
    </bean>

</beans>
